.post_item {
    margin: 10px 0px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.navbar-default {
  background-color: #f58220;
  border-color: #f58220;
}
.label-primary {
  background-color: #f58220;
}

.content a  {
  text-decoration: underline;
}
