.post_item {
    margin: 10px 0px;
}

.navbar-default {
  background-color: #f58220;
  border-color: #f58220;
}
.label-primary {
  background-color: #f58220;
}

li a, p a {
  text-decoration: underline;
}
